.messageCard {
  background-color: #611F69;

.likeBtn {
  background-color: #611F69;
  height: 35px;
  width: 35px;
  img {
    width: 10px;
  }
}

.dislikeBtn {
  background-color: #611F69;
  height: 35px;
  width: 35px;
  img {
    width: 10px;
  }
}
}
