.orgCard {
  background-color: #611F69;
.orgIcon {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.deleteBtn {
  background-color: #611F69;
 img {
   width: 10px;
 }
}

.editBtn {
  background-color: #611F69;
  img {
    width: 10px;
  }
  
}
}
