.orgView {
  background-color: #611F69;
  color: lightgrey;

  .addOrgBtn {
    background-color: #611F69;

    img {
      width: 10px;
    }
  }
  .closeForm {
    background-color: #611F69;
    img {
      width: 10px;
    }
    
  }
}
